.cards-slider-wrapper{
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.05, 0.03, 0415, 0.955);
    .card{
        flex: 1;
        min-width: 226px;
            width: 50px;
            max-height: 100px;
            opacity: 0.5;
            transform: scale(0.7);
            box-shadow: none;
            background-color: white;
            border-color: white;
            transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
       
    }

}
//parcourir les partenaires
$i:0;
@for $i from 0 through 8{
    .cards-slider.active-slide-#{$i} #card-#{$i}{
        opacity: 1;
        transform: scale(1);
        background-color: #f3f3f3;
        border-color: #f3f3f3;
       
    }
}

.cole {
    height: 264px;
    position: relative;
    &:before,
    &:after {
        content: '';
        display: block;
        width: 50%;
        height: 120%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:after {
        left: auto;
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
    }
  }


.cards-slider{
	position: relative;
    max-width: 226px;
    margin:0 auto;
    
    // border active partner
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 225px;
        outline:  4px solid rgba(255, 255, 255, 0.993);
        position: absolute;
        top: 0;
        left: 0;
}
 }

