.header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right {
    right: -6px;
    left: -70px !important}

div.dropdown-menu.dropdown-menu-right.show{
    left: -440px;
    right: -6px;

}

.DropdownMenu{
    left: -440px;
    right: -6px;
    position: relative;
}