
#input[type="file"]{
    display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .image-upload{
    margin: auto;
    width: 130px;
    height: 40px;
    background-color: rgb(247, 164, 11);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
  }