

  
 .zoomDoc {
   margin: 0;
   padding: 0;
  margin-right: 100px;
    position:inherit ;
    height:auto;
 
  }


  
  img.zoomed {
    cursor: zoom-out;
  }
  
 .img-container{
   width: 600px;
   height: 480px;
   float: left;
 }

 .img-preview{
   width: 200px;
   height: 200px;

 }